
body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;

}

#root {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 375px;
  height: 812px;
  margin: 10px auto;
  background-color: white;
}

main {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  height: 762px;
  width: 315px;
  margin: 20px auto 0;
}

.btn {
  height: 49px;
  width: 315px;
  background-color: #333333;
  color: white;
  font-size: 22px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

.navBar a .active{
  background-color: red;
}


.loadingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


/*************/
/******NavBar*******/
/*************/
nav {
  
  
}

.navBar {
  height: 43px;
  width: 315px;
  margin: 29px auto 0px;;
  padding: 10px 0 0 0;
  border-bottom: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar-title {
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 10px;
}

.navBar-menu-icon {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px
}

.menu-icon {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  
}

.loadScreen-icon {
  font-size: 50px;
}

.hightlight-url {
  background-color: #000000;
  color: white
}

.navBar a {
  color: black
}



/******HOME*******/
.home {
  height: 90%;
  width: 315px;
  margin: 20px auto 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


/**********profile************/

.setting-title {
  font-size: 32px;
  line-height: 42px;
}

.setting-form {
  margin: 20px auto 0 ;

  display: flex;
  flex-direction: column;
}

.setting-inputs {
  width: 100%;
}

.setting-inputs label {
  font-size: 12px;
  color: #828282;
  margin: 16px 0 0 0;

  display: flex;
  flex-direction: column;
}

.setting-inputs input {
  width: 100%;
  height: 35px;
  margin: 8px 0 0 0;
  padding: 0 0 0 12px;
  font-size: 18px;

}

.setting-btn {
  margin: 20px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.setting-btn button {
  margin: 30px 0 0 0;
  height: 49px;
  width: 35%;
  background-color: #333333;
  color: white;
  font-size: 22px;
  border: none;
}



/***********Prompt************/
.prompt {
  width: 315px;
  height: 90%;
  margin: 20px auto 0;
  font-size: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prompt-message {
font-size: 32px;
}

.prompt-selection {
  height: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.prompt-selection-ans {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 0 10px 0;
  font-size: 32px;
}

.prompt-selection a {
  border-bottom: 1px solid #000000;
}

.prompt-selection-ans:last-child {
  border: none;
}

.prompt-arrow {
  color: #333333
}

.prompt-happy {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.prompt-happy-video div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid black;
  padding-bottom: 20px;
  
}

.prompt-happy-center {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

/*********Breath**********/
.breath {
  height: 90%;
  width: 315px;
  margin: 20px auto 0;
  
  font-size: 32px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* position: relative; */
}

.breath-bg {
  height: 100%;
  width: 375px;
  background-color: #D5E8F9;

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;

  animation: mybg 60s forwards linear
}

@keyframes mybg {
  from {top: -100%}
  to {top: 0%}
}


/*********distraction*************/
.distraction {
  overflow-y: auto;

}

.distraction-video {
  
}

.videos {
  margin: 10px 0;
}

.distraction-btn {
  height: 49px;
  width: 315px;
  background-color: #333333;
  color: white;
  font-size: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.video-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-btn button {
  width: 50px;
  height: 30px;

  border-radius: 100px;
  border: none;
  padding: 5px 10px;
}



/**********Log it**********************/

.message-input {
  
}

.message-input form {
  display: flex;
  flex-direction: column;
}

.message-input textarea {
  height: 300px;
  font-size: 20px;
}

.message-input button {
  height: 35px;
}

.message-input * {
  margin: 0 0 10px 0;
}


/**********ActivityHistory*************/
.activity-history {
  display: flex;
  flex-direction: column;
}

.activity-history p {
  font-size: 82px;
  color: #E0E0E0
}

.activity-history-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid black;
  padding-bottom: 18px;
}

.activity-arrow {
  font-size: 30px;
}

.sad {
  background-color: #828282;
}

.happy {
  background-color: #2d9cdb;
}
.normal {
  background-color:  #F2c94C;
}

.activity-detail-comp {
  overflow-y: auto;
  
}

.activity-detail-list {
  overflow: auto;
  height: 600px;
}

.render-detail {
  overflow: hidden;
  height: 41px;
  /* background-color: #000000; */
  /* margin: 10px 0; */
  border-top: #333333 1px solid;
  display: flex;
  align-items: center;
}

.render-detail * {
  margin: 5px 0;
  padding: 0 5px;
}

.scrollable {
  height: 50%;
  overflow-y: hidden;
  background-color: black;
}

/********self message*********/
.selfMsg {
  height: 100%;
  /* border: 1px solid #333333; */
  overflow-y: auto;
}

.selfMsg-content {
  border: 1px solid #333333;

  margin: 10px 0 0 0;
  padding: 10px;
  line-height: 25px;
}

/************conversation****************/

.converation {
  display: flex;
  flex-direction: column;

  justify-content: center;
  
}

.conversation-compose {
  display: flex;
  justify-content: flex-end;
}

.conversation-comment{
  height: 300px;
  width: 315px;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
  border: 1px solid #E0E0E0;
}

/**************Reply********************/

.reply-card {
  /* width: 315px; */

  padding: 22px;
  margin: 0 0 5px 0;
  border: 1px solid #E0E0E0;
}

.reply-card-title {
  display: flex;
  align-items: center;
  height: 24px;
  width: fit-content;
  font-size: 12px;

  position: relative;
  background-color: #f2f2f2;
  color: #4f4f4f;
  padding: 0px 15px;
  border-radius: 20px;
}

.reply-card-message {
  padding: 10px 0;
  height: fit-content;
  font-size: 18px;
  color: #333333;
}

.reply-card-misc {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #333333;
  padding: 10px 0 0 0;
}

.reply-card-social {
  
  display: flex;
  align-items: center;
  cursor: pointer;
}

.reply-card-social span{
  margin: 0 10px 0 0;
}

/**********Survey-detail***************/

.survey-detail-content {
  padding: 10px;
  line-height: 25px;

  border: 1px solid #828282;
}

.activity-detail-page-title * {
  margin: 0 0 15px 0;
}

/********InfoCard*******/

.infoCard {
  width: 315px;
  height: 330px;
  border: 1px solid rgb(219, 218, 222);

  
  margin: 0 0 20px 0;
}

.infoCard a {
  text-decoration: none;
  color: #333333
}

.infoCard-container {
  padding: 20px 20px;
}

.infoCard-title {
  display: flex;
  align-items: center;
  height: 24px;
  width: fit-content;
  font-size: 12px;

  position: relative;
  background-color: #f2f2f2;
  color: #4f4f4f;
  padding: 4px 8px;
  border-radius: 20px;
}

.infoCard-title img {
  height: 50px;
  border-radius: 50px;
  margin: 0 15px 0 0;
}

.infocard-chat-emoji {
  height: 32px;
  width: 32px;
  background-color: #BDBDBD;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 20px;
}

.thumbTack {
  position: absolute;
  right: 40px;
  font-size: 1.2em;
  transform: rotate(45deg);
}

.ellispsisVert {
position: absolute;
  right: 0;
  font-size: 1.2em;
  
}

.infoCard-content {
  margin: 20px 0;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  line-height: 23px;
  color: #333333;

  overflow: hidden;
  text-overflow: ellipsis;
}

.infoCard-content h4{
  margin: 0 0 20px 0;
  font-weight: 400;
}

.infoCard-contentp {
  line-height: 1.2em;
  font-weight: 200;

  overflow: hidden;
  text-overflow: ellipsis;
}

.infoCard-social {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* margin: 20px 0; */
  padding: 10px 0;
  border-top: 1px solid #E0E0E0;
}

.social-icon {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  
}
.infoCard-social span {
  font-size: 1.2em;
  margin: 0 10px;
}


.aiHeart {
  font-size: 1.5em;

}

.spanHeart {

}

.infoCard-footer {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 12px;
}





/***********Banner************/
.banner {
  height: 250px;
  width: 100%;
}

.banner-img {
  height: 100%;
  background-image: url('../assets/images/back.jpg');
  background-position: center;
  background-size: cover; 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-greeting {
  font-size: 2.5em;
  color: black;
  margin: 0 0 20px;
}

.banner-msg {
  font-size: 1.3em;
  color: black;
  
}

/*******SignUp*******/

.signup-msg {
  display: flex;

  justify-content: flex-start;
}

.loginSignUp {
  margin: 0 20px 0 0;
  color: #BDBDBD;
  cursor: pointer;
}

.signup-form {
  display: flex;
  flex-direction: column;
  
  margin: 30px 0 0 0;

  height: 70%;
  position: relative;
  background-color: white;
}

.signup-form label {
  margin: 16px 0 8px 0;
  font-size: 12px;
  color: #828282
}

.signup-form input {
  height: 47px;
  width: 90%;
  font-size: 20px;

  outline: none;
  border: 1px solid #E0E0E0;
  padding: 12px 12px 0 12px;
}

.sign-up-btn {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 49px;
  padding: 10px 0;
  border: none;
  background-color: #333333;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.inputActive {
  margin: 20px 0;
}

.loginActive {
  color: black;
  text-decoration:  underline;
}
.signupActive {
  color: black;
  text-decoration:  underline;
}


/*********Slider*********/
.slider {
  width: 315px;
}

.slider h1 {
  margin: 10px 0;
}

.slider-input {
  width: 100%;
  height: 2px;
  background: black;
  cursor: pointer;
}

/********Mood************/
.mood {
  width: 315px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;

}

.mood-content {
  width: 220px;
  height: 200px;
  background-color: rgb(217, 220, 222);
  border-radius: 50%;
  margin: 0 0 15px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;

  cursor: pointer;
}



.mood-icon {
  font-size: 100px;
}

.mood p {
  color: rgb(217, 220, 222)
}


/**************ChatHome ***********/

.chat {
  width: 315px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;
}

.chat-compose {

}

.chat-compose p {
  font-size: 32px;
  margin: 18px 0 18px 0;
  font-weight: 500;
}

.chat-compose-input {
  width: 100%;
  height: 56px;

  border: 1px solid black;
  display: flex;
  align-items: center;
}

.chat-compose-input input {
  width: 80%;
  height: 56px;
  border: none;
  outline: none;
  font-size: 18px;

  padding: 0 0 0 22px;
}

.chat-send {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  font-size: 18px;
  background-color: #f2f2f2;
  border-radius: 50px;
}

.chat-sort {
  border: none;
}
.chat-sort-form {
  display: flex;

  justify-content: space-between;

}

.chat-write {
  font-size: 25px;
}

.chat-content {
  height: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  


  overflow-y: auto;

}



@media (min-width: 480px) {

  * {
    margin: 0;
    padding: 0;
  }

  #root {
    height: 100%;
    width: fit-content;
    background-color: white;
    margin: 0 auto;
  }

  .desktop-container {
    height: 100%;
    width: 100%;
  }

  .desktop-main {
    height: 100%;
    width: 100%;
  }

  /***********Desktop-nav*******/

  .desktop-nav {
    /* width: 90%; */
    height: 72px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: white;

    border-bottom: 1px solid black;
  }

  .desktop-navbar {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .desktop-title {
    font-size: 18px;
    font-weight: 700;
  }

  .desktop-nav-setting {
    width:fit-content;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-gear {
    margin: 0 20px 0 0;
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 2px;
  }

  .desktop-logout {
    width: 58px;
    height: 32px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 100px;

    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    
    cursor: pointer;
  }

  /************Desktop-main*************/

  .desktop-main {
  width: 90%;
  margin: 0 auto;
  }

  .desktop {
    width: 100%;
    display: flex;
    
  }



  .home {
    width: 300px;
  }

  .desktop-slider {
    margin: 0;
    width: 50%;
  
    border-right: 1px solid black;

  }

  .desktop-slider > div {
    width: 100%;
  
  }

  .home-greeting {
    font-size: 24px;
  }
  
  .home-mood {
    height: 220px;
    width: 200px;
  }

  .home-slider {
    width: 505px;
  }
  .slider {
    width: 100%;
  }

  /**********desktop-history-container*********/ 


  .desktop-history-container {
    width: 432px;
    height: 100%;

  }

  .desktop-history {
    height: 0;
    padding: 0 72px 0 45px;
  }

  .activity-history {
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }

  .desktop-chat {
    width: 375px;
    
    background-color: #f9f9f9;
  }

  .chat {
    width: 315px;
  }

  
}