
body {
  width: 375px;
  height: 812px;
  /* background-color: rgb(24,19,62); */
  /* overflow: hidden; */
  margin: 0 auto;
}

#root {
  height: 100%;
  margin: 0 auto;
}

.App {
  height: 760px;
  margin: 0 auto;
}

main {
  height: 100%;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: black;
}

.container {
  height: 90%;
  width: 315px;
  margin: 20px auto 0;
}

.btn {
  height: 49px;
  width: 315px;
  background-color: #333333;
  color: white;
  font-size: 22px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



/******HOME*******/
.home {
  height: 90%;
  width: 315px;
  margin: 20px auto 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .home {
  background-color: rgb(24,19,62); 
  padding: 100px 0;
  position: relative;
  
  height: 80%;
  overflow: hidden;
  
 

/* .home-bg {
  height: 100%;
  background-image: url("../assets/images/window.jpg");
  background-repeat: none;
  background-size: 85%;
  background-position: center center;

}

.home-title {
  color: white;
  text-align: center;
  font-size: 4em;

  position: relative;
  top: 30%;
} */



/**********profile************/

.setting-title {
  font-size: 32px;
  line-height: 42px;
}

.setting-form {
  margin: 45px auto 0 ;

  display: flex;
  flex-direction: column;
}

.setting-inputs {
  width: 100%;
}

.setting-inputs label {
  font-size: 12px;
  color: #828282;
  margin: 16px 0 0 0;

  display: flex;
  flex-direction: column;
}

.setting-inputs input {
  width: 100%;
  height: 35px;
  margin: 8px 0 0 0;
  padding: 0 0 0 12px;
  font-size: 18px;

}

.setting-btn {
  margin: 0 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.setting-btn button {
  margin: 30px 0 0 0;
  height: 49px;
  width: 35%;
  background-color: #333333;
  color: white;
  font-size: 22px;
  border: none;
}

/* .profile {
  width: 70%;
  margin: 100px auto;
  background-color: white;

  display: flex;
  flex-direction: column;

  align-items: center;

  position: relative;
}

.profile-nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0 20px 20px 20px;
  padding: 0 0 0 20px
}

.profile p {
  font-weight: 100;
}

.profile-myPost {
  margin: 0 20px 0
}

.profile-search {
  position: absolute;
  background: transparent;
  right: 60px;
  height: 2em;
 
}

.profile-faGear {
  position: absolute;
  right: 20px;
}

.profile-post {
  width: 95%;
  display: flex;
  flex-direction: column;
  
  margin: 30px 0 20px 0;
}

.profile-post-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
}

.profile-post-nav-sort {
  display: flex
}

.profile-post-nav-sort p {
  font-size: .9em;
  margin: 0 5px 0 0;
}

.profile-post-nav-sort select {
  border: none;
  font-weight: 400;
  font-size: 1em;
  padding: 0 10px;
  width: fit-content
}

.profile-create-post-btn {
  height: 2.3em;
  width: 140px;
  background-color: rgb(6,35,79);
  color: white;
  padding: 0 15px;

  border: none;
}

.profile-infocard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

/***********Prompt************/
.prompt {
  width: 315px;
  height: 90%;
  margin: 20px auto 0;
  font-size: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prompt-message {
font-size: 32px;
}

.prompt-selection {
  height: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.prompt-selection-ans {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 0 10px 0;
  font-size: 32px;
}

.prompt-selection a {
  border-bottom: 1px solid #000000;
}

.prompt-selection-ans:last-child {
  border: none;
}

.prompt-arrow {
  color: #333333
}

.prompt-happy {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.prompt-happy-video div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid black;
  padding-bottom: 20px;
  
}

.prompt-happy-center {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

/*********Breath**********/
.breath {
  height: 90%;
  width: 315px;
  margin: 20px auto 0;
  
  font-size: 32px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* position: relative; */
}

.breath-bg {
  height: 100%;
  width: 375px;
  background-color: #D5E8F9;

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;

  animation: mybg 60s forwards linear
}

@keyframes mybg {
  from {top: -100%}
  to {top: 0%}
}


/*********distraction*************/
.distraction {
  overflow-y: auto;

}

.distraction-video {
  
}

.videos {
  margin: 10px 0;
}

.distraction-btn {
  height: 49px;
  width: 315px;
  background-color: #333333;
  color: white;
  font-size: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



/**********Log it**********************/

.message-input {
  
}

.message-input form {
  display: flex;
  flex-direction: column;
}

.message-input textarea {
  height: 300px;
  font-size: 20px;
}

.message-input button {
  height: 35px;
}

.message-input * {
  margin: 0 0 10px 0;
}


/**********ActivityHistory*************/
.activity-history {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.activity-history p {
  font-size: 82px;
  color: #E0E0E0
}

.activity-history-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid black;
  padding-bottom: 18px;
}

.activity-arrow {
  font-size: 30px;
}

.sad {
  background-color: #828282;
}

.happy {
  background-color: #2d9cdb;
}
.normal {
  background-color:  #F2c94C;
}

.activity-detail-comp {
  overflow-y: auto;
  
}

.activity-detail-list {
  overflow: auto;
  height: 600px;
}

.render-detail {
  overflow: hidden;
  height: 41px;
  /* background-color: #000000; */
  /* margin: 10px 0; */
  border-top: #333333 1px solid;
  display: flex;
  align-items: center;
}

.render-detail * {
  margin: 5px 0;
  padding: 0 5px;
}

.scrollable {
  height: 50%;
  overflow-y: hidden;
  background-color: black;
}

/************conversation****************/

.converation {
  display: flex;
  flex-direction: column;

  justify-content: center;
  
}

.conversation-compose {
  display: flex;
  justify-content: flex-end;
}

.conversation-comment{
  height: 300px;
  width: 315px;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
  border: 1px solid #E0E0E0;
}

/**************Reply********************/

.reply-card {
  /* width: 315px; */

  padding: 22px;
  margin: 0 0 5px 0;
  border: 1px solid #E0E0E0;
}

.reply-card-title {
  display: flex;
  align-items: center;
  height: 24px;
  width: fit-content;
  font-size: 12px;

  position: relative;
  background-color: #f2f2f2;
  color: #4f4f4f;
  padding: 0px 15px;
  border-radius: 20px;
}

.reply-card-message {
  padding: 10px 0;
  height: fit-content;
  font-size: 18px;
  color: #333333;
}

.reply-card-misc {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #333333;
  padding: 10px 0 0 0;
}

.reply-card-social {
  
  display: flex;
  align-items: center;
}

.reply-card-social span{
  margin: 0 10px 0 0;
}

/**********Survey-detail***************/

.survey-detail-content {
  padding: 10px;
  line-height: 25px;

  border: 1px solid #828282;
}

.activity-detail-page-title * {
  margin: 0 0 15px 0;
}