/********InfoCard*******/

.infoCard {
  width: 315px;
  height: 330px;
  border: 1px solid rgb(219, 218, 222);

  
  margin: 0 0 20px 0;
}

.infoCard a {
  text-decoration: none;
  color: #333333
}

.infoCard-container {
  padding: 20px 20px;
}

.infoCard-title {
  display: flex;
  align-items: center;
  height: 24px;
  width: fit-content;
  font-size: 12px;

  position: relative;
  background-color: #f2f2f2;
  color: #4f4f4f;
  padding: 4px 8px;
  border-radius: 20px;
}

.infoCard-title img {
  height: 50px;
  border-radius: 50px;
  margin: 0 15px 0 0;
}

.infocard-chat-emoji {
  height: 32px;
  width: 32px;
  background-color: #BDBDBD;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 20px;
}

.thumbTack {
  position: absolute;
  right: 40px;
  font-size: 1.2em;
  transform: rotate(45deg);
}

.ellispsisVert {
position: absolute;
  right: 0;
  font-size: 1.2em;
  
}

.infoCard-content {
  margin: 20px 0;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  line-height: 23px;
  color: #333333;

  overflow: hidden;
  text-overflow: ellipsis;
}

.infoCard-content h4{
  margin: 0 0 20px 0;
  font-weight: 400;
}

.infoCard-contentp {
  line-height: 1.2em;
  font-weight: 200;

  overflow: hidden;
  text-overflow: ellipsis;
}

.infoCard-social {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* margin: 20px 0; */
  padding: 10px 0;
  border-top: 1px solid #E0E0E0;
}

.social-icon {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.infoCard-social span {
  font-size: 1.2em;
  margin: 0 10px;
}


.aiHeart {
  font-size: 1.5em;

}

.spanHeart {

}

.infoCard-footer {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 12px;
}





/***********Banner************/
.banner {
  height: 250px;
  width: 100%;
}

.banner-img {
  height: 100%;
  background-image: url('../assets/images/back.jpg');
  background-position: center;
  background-size: cover; 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-greeting {
  font-size: 2.5em;
  color: black;
  margin: 0 0 20px;
}

.banner-msg {
  font-size: 1.3em;
  color: black;
  
}

/*******SignUp*******/

.signup-msg {
  display: flex;

  justify-content: flex-start;
}

.loginSignUp {
  margin: 0 20px 0 0;
  color: #BDBDBD;
  cursor: pointer;
}

.signup-form {
  display: flex;
  flex-direction: column;

  margin: 30px 0 0 0;

  height: 100%;
  position: relative;
}

.signup-form label {
  margin: 16px 0 8px 0;
  font-size: 12px;
  color: #828282
}

.signup-form input {
  height: 47px;
  width: 100%;
  font-size: 20px;

  outline: none;
  border: 1px solid #E0E0E0;
  padding: 12px 12px 0 12px;
}

.sign-up-btn {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 49px;
  padding: 10px 0;
  border: none;
  background-color: #333333;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.inputActive {
  margin: 20px 0;
}

.loginActive {
  color: black;
  text-decoration:  underline;
}
.signupActive {
  color: black;
  text-decoration:  underline;
}


/*********Slider*********/
.slider {
  width: 315px;
}

.slider h1 {
  margin: 10px 0;
}

.slider-input {
  width: 100%;
  height: 2px;
  background: black;
  cursor: pointer;
}

/********Mood************/
.mood {
  width: 315px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;

}

.mood-content {
  width: 220px;
  height: 200px;
  background-color: rgb(217, 220, 222);
  border-radius: 50%;
  margin: 0 0 15px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;

  cursor: pointer;
}



.mood-icon {
  font-size: 100px;
}

.mood p {
  color: rgb(217, 220, 222)
}


/**************ChatHome ***********/

.chat {
  width: 315px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;
}

.chat-compose {

}

.chat-compose p {
  font-size: 32px;
  margin: 18px 0 18px 0;
  font-weight: 500;
}

.chat-compose-input {
  width: 100%;
  height: 56px;

  border: 1px solid black;
  display: flex;
  align-items: center;
}

.chat-compose-input input {
  width: 80%;
  height: 56px;
  border: none;
  outline: none;
  font-size: 18px;

  padding: 0 0 0 22px;
}

.chat-send {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  font-size: 18px;
  background-color: #f2f2f2;
  border-radius: 50px;
}

.chat-sort {
  border: none;
}
.chat-sort-form {
  display: flex;

  justify-content: space-between;

}

.chat-write {
  font-size: 25px;
}

.chat-content {
  height: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  


  overflow-y: auto;

}