@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

.navBar a .active{
  background-color: red;
}


.loadingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


/*************/
/******NavBar*******/
/*************/
nav {
  
  
}

.navBar {
  height: 43px;
  width: 315px;
  margin: 29px auto 0px;;
  border-bottom: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar-title {
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 10px;
}

.navBar-menu-icon {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px
}

.menu-icon {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  
}

.loadScreen-icon {
  font-size: 50px;
}

.hightlight-url {
  background-color: #000000;
  color: white
}

.navBar a {
  color: black
}